@import "~normalize.css";
@import "roboto.css";

#root {
  background-color: lightBlue;
  width: 100vh;
  height: 100vh;
  background-image: url(~@/assets/jpg.jpg);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}
